<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>GoURL</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		
	</head>
	<style type="text/css">
		.right{float:right;width:100px;}
	</style>
	<body>

<div class="container" style="padding: 300px">
  <h1 class="text-center">GoURL- Coustomer Invoice ( Multi Coins Below )</h1>

<div class="row">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">GoURL</a><br><br>
  </div>
  </div>
<div class="row">
  <div class="col-md-6 pull-left">

    <h3>Company Name</h3>
    <p>1433 17th St.<br>Denver CO 567875<br>Phone: (123) 4124324321<br>example@gmail.com</p><br><br>
  </div>
  <div class="col-md-6 ">
  	<div class="offset-col-md-2 col-md-10 right">
  	<br>
    <p ><b>Invoice</b>&nbsp; #45762</p>
    <p  ><b> Date.</b>&nbsp; 21/2/2017</p>
  </div>
</div>
<div class="offset-md-6 col-md-6 right">
 	 	 <h5 align="right">Company Name</h5>
    <p align="right">1433 17th St.<br>Denver CO 567875<br>Phone: (123) 4124324321<br>example@gmail.com</p><br><br>
</div>
  
  <table class="table table-bordered">
<thead style="background-color: #142929;color: white;">
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Qty</th>
     <th>Price</th>
    <th>Amount</th>
  </tr>
    </thead>
		<tbody>
		  <tr>
		    <td><b> Product</b></td>
		    <td>One Kind of Product Description</td>
		    <td>1.00</td>
		    <td>$1.15</td>
		    <td>$1.15</td>
		  </tr>
		</tbody>
		<tbody>
		  <tr>
		    <td><b> Product</b></td>
		    <td>One Kind of Product another Description</td>
		    <td>1.00</td>
		    <td>$1.30</td>
		    <td>$1.30</td>
		  </tr>
		</tbody>
		<tbody >
		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
		</tbody>
		<tbody >
		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
		</tbody>
		<tbody >
		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
		</tbody>
		<tbody>
		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td><b>Subtotle:</b></td>
		    <td>$2.45</td>
		  </tr>
		</tbody>
		<tbody>
		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td><b>Discount(10%):</b></td>
		    <td>($0.24)</td>
		  </tr>
		</tbody>
		<tbody>
		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td><b>TOTAL DUE:</b> </td>
		    <td>$2.21</td>
		  </tr>
		</tbody>
</table>
  
</div>

</body>
</html>